header{
    background-image: url("../img/colline.jpg");
    background-size: 150%;
    background-position: center;
}

header img{
    top: 15%;
    left: 40%;
}

@media (min-width: 1024px) {

header{
    background-size: 120%;
    background-position-x: -12vw;
    background-position-y: -60vh;
}

#main-header img {
    top: 25%;
    left: 70%;
}

}